<!-- header pronto -->
<div class="top-bar">
  10% OFF no site com cupom PRIMEIRACOMPRA
</div>

<section class="home">
  <header class="header">

    <div class="logo-container">
      <a routerLink="/home"><img src="perfume.png" class="logo"></a>
      <a routerLink="/home">
        <h1>Essency</h1>
      </a>
    </div>

    <div class="search">
      <input type="text" placeholder="O que está buscando hoje?" />
      <div class="resultado-box"></div>
    </div>

    <div class="actions">

      <div *ngIf="!usuario" routerLink="/login" class="item">
        <i class="fa-regular fa-user"></i>
        <span>Entrar</span>
      </div>

      <!-- SE ESTIVER LOGADO -->
      <div *ngIf="usuario" class="item usuario-box">

        <i class="fa-regular fa-user"></i>

        <span>{{ usuario.nome }}</span>

        <button class="btn-sair" (click)="sair()">
          Sair
        </button>

      </div>

      <div routerLink="/cart" class="item">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Meu Carrinho</span>
      </div>

      <div *ngIf="usuario?.isAdmin" routerLink="/admin-page" class="item">

        <i class="fa-solid fa-key"></i>
        <span>Admin</span>

      </div>

    </div>

  </header>
</section>

<div class="menu">
  <a href="#male">Masculinos</a>
  <a href="#feminine">Femininos</a>
</div>